{% extends "auzonetweb/base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block scripts %}
<script>
$(document).ready(function(){
    $("#id_due_date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
    });

});
</script>
{% endblock %}

{% block title %}AuzoNet - Nueva petición{% endblock %}
{% block content%}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h1>Necesito</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% if errorMessage != None%}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error:</strong> {{ errorMessage }}
                </div>
            {% endif %}
            {% csrf_token %}
            {% bootstrap_form requestForm%}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Publicar
            </button>
            <a class="btn btn-danger" href="{% url 'index' %}">Cancelar</a>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-lg-3"></div>
</div> <!-- end my topics-->
{% endblock %}
