{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>404 error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static "auzonetweb/css/404.css" %}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="wrap">
    <div class="content">
        <div class="logo">
            <h1><a href="#"><img src="{% static "auzonetweb/images/404/logo.png" %}"/></a></h1>
            <span><img src="{% static "auzonetweb/images/404/signal.png" %}"/>Oops! The Page you requested was not found!</span>
        </div>
        <div class="buttom">
            <div class="seach_bar">
                <p>you can go to <span><a href="/">home</a></span> page or search here</p>
                <div class="search_box">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>