{% extends "auzonetweb/base.html" %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $( "#tabs" ).tabs();
    });
</script>
{% endblock %}

{% block title %}::: Auzonet BOOTCAMP :::{% endblock %}
{% block navigation %}
<ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li><a href="../navbar/">Default</a></li>
    <li><a href="../navbar-static-top/">Static top</a></li>
    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
</ul>
{% endblock %}
{% block content%}
<h1>Bienvenido al Bootcamp!!</h1>
<div>
    Esta sección de la web pretende ser un campo de pruebas para todas las
    API's que se utilicen.<br/>
    <br/>
    Buena suerte! Y que la fuerza esté contigo!
</div>
<div>
    {% if datasetsjson%}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">All datasets</a></li>
            <li><a href="#tabs-2">Portales</a></li>
        </ul>
        <div id="tabs-1">
            <p><pre>{{datasetsjson}}</pre></p>
        </div>
    <div id="tabs-2">
            <p><pre>{{portalesjson}}</pre></p>
        </div>
    </div>
    {%endif%}
</div>
{% endblock %}
