{% extends "auzonetweb/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static from staticfiles %}
{% block scripts %}
<script>

</script>
{% endblock %}

{% block title %}AuzoNet - {% trans "Acuerdo aceptado" %}{% endblock %}
{% block content%}
<div class="row">
    <div class="col-md-3 col-lg-3"></div>
    <div class="col-md-6 col-lg-6 text-center">
        <h1>{% trans "Fantástico" %}</h1>
        <p>{% trans "Ahora colaboráis juntos, recuerda finalizar tu acuerdo y votar tu experiencia desde la sección 'Acuerdos activos' de tu página de la comunidad cuando consideres que se ha terminado la colaboración." %}</p>
        <a class="btn btn-primary" href="{% url "index" %}" role="button">{% trans "Volver al inicio" %}</a>
        <img src="{% static "auzonetweb/images/agreement.png" %}" alt="confirmation-success" class="img img-responsive">
    </div>
    <div class="col-md-3 col-lg-3"></div>
</div> <!-- end my topics-->
{% endblock %}
