{% extends "auzonetweb/base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block scripts %}
<script src="{% static 'Chart.js/Chart.min.js' %}"></script>
<script>
var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
var lineChartData = {
    labels : ["January","February","March","April","May","June","July", "August", "September", "October", "November", "December"],
    datasets : [
        {
            label: "Requests published",
            fillColor : "rgba(220,220,220,0.2)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : "rgba(220,220,220,1)",
            data : {{ requests_per_month }}
        },
        {
            label: "Offers published",
            fillColor : "rgba(151,187,205,0.2)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : "rgba(151,187,205,1)",
            data : {{ offers_per_month }}
        }
    ]

};

window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData, {
        responsive: true
    });
}
</script>
{% endblock %}
{% block title %}AuzoNet - {{currentUser.first_name}} {{currentUser.last_name}}{% endblock %}
{% block content%}
<div class="row" id="profile">
    <img src="{%static currentUser.publicuser.avatar.url%}"  class="center-block img-circle" alt="avatar" width="250" height="250">
    <h1 class="text-center">{{currentUser.first_name}} {{currentUser.last_name}}</h1>
    <p class="text-center"><i>{% trans "Miembro de" %} </i></p>
    <p class="text-center">
    {%for community in request.user.publicuser.communities.all%}
        <a href="{%url 'indexcommunity' community.id%}"><span class="glyphicon glyphicon-home"></span> {{community.address}}</a><br>
    {%endfor%}
    </p>
</div>
<div class="row profile-panel" id="stats">
    <div class="col-md-10">
        <h2>{% trans "Mi actividad en " %} {{ current_year }}</h2>
        <canvas id="canvas" height="190" width="600"></canvas>
    </div>
    <div class="col-md-2">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Karma</th>
                    <th>{{ currentUser.publicuser.karma }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% trans "Peticiones publicadas" %}</td>
                    <td>{{ requests_published.count }}</td>
                </tr>
                <tr>
                    <td>{% trans "Peticiones atendidas" %}</td>
                    <td>{{ requests_attended.count }}</td>
                </tr>
                <tr>
                    <td>{% trans "Ofertas publicadas" %}</td>
                    <td>{{ offers_published.count }}</td>
                </tr>
                <tr>
                    <td>{% trans "Ofertas contratadas" %}</td>
                    <td>{{ offers_hired.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row profile-panel" id="attending">
    <h2>{% trans "En atención de otros usuarios" %}</h2>
    <table class="table table-responsive">
        <thead>
            <th>{% trans "Título" %}</th>
            <th>{% trans "Tipo" %}</th>
            <th>{% trans "Usuario" %}</th>
            <th>{% trans "Acciones" %}</th>
        </thead>
        <tbody>
        {% if offers_hired_active.count > 0 or requests_attended_active.count > 0 %}
            <tr>
                {% for offer in offers_hired_active %}
                    <td>{{ offer.title }}</td>
                    <td>{% trans "Oferta" %}</td>
                    <td>{{ offer.owner.username }}</td>
                    <td>
                        <a class="btn btn-default" href="{% url 'detail-offer' offer.id %}"
                           role="button">{% trans "Abrir" %}</a>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for req in requests_attended_active %}
                    <td>{{ req.title }}</td>
                    <td>{% trans "Peticion" %}</td>
                    <td>{{ req.owner.username }}</td>
                    <td>
                        <a class="btn btn-default" href="{% url 'detail-request' req.id %}"
                           role="button">{% trans "Abrir" %}</a>
                    </td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td>{% trans "No tienes nada bajo tu atención actualmente." %}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="row profile-panel" id="my-posts">
    <h2>{% trans "Mis publicaciones activas" %}</h2>
    <table class="table table-responsive">
        <thead>
            <th>{% trans "Título" %}</th>
            <th>{% trans "Tipo" %}</th>
            <th>{% trans "Fecha de publicación" %}</th>
            <th>{% trans "Acciones" %}</th>
        </thead>
        <tbody>
        {% if my_orders.count > 0 %}
            {% for order in my_orders %}
                {% if  order.order_type == 'O' %}
                    <tr>
                        <td>{{ order.offer.title }}</td>
                        <td>{% trans "Oferta" %}</td>
                        <td>{{ order.offer.date_published }}</td>
                        <td>
                            <a class="btn btn-default" href="{% url 'detail-offer' order.offer.id %}"
                               role="button">{% trans "Abrir" %}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ order.auzonetrequest.title }}</td>
                        <td>{% trans "Peticion" %}</td>
                        <td>{{ order.auzonetrequest.date_published }}</td>
                        <td>
                            <a class="btn btn-default" href="{% url 'detail-request' order.auzonetrequest.id %}"
                               role="button">{% trans "Abrir" %}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td>{% trans "No tienes nada publicado actualmente." %}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="row profile-panel" id="my-posts">
    <h2>{% trans "Historial" %}</h2>
    <table class="table table-condensed table-responsive">
        <thead>
            <th>{% trans "Título" %}</th>
            <th>{% trans "Tipo" %}</th>
            <th>{% trans "Fecha de publicación" %}</th>
            <th>{% trans "Acciones" %}</th>
        </thead>
        <tbody>
        {% if my_finished_orders.count > 0 %}
            {% for order in my_finished_orders %}
                {% if  order.order_type == 'O' %}
                    <tr>
                        <td>{{ order.offer.title }}</td>
                        <td>{% trans "Oferta" %}</td>
                        <td>{{ order.offer.date_published }}</td>
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'recover-post' postid=order.offer.id posttype='O' %}"
                               role="button">{% trans "Publicar de nuevo" %}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ order.auzonetrequest.title }}</td>
                        <td>{% trans "Peticion" %}</td>
                        <td>{{ order.auzonetrequest.date_published }}</td>
                        <td>
                            <a class="btn btn-warning"
                               href="{% url 'recover-post' postid=order.auzonetrequest.id posttype='R' %}"
                               role="button">{% trans "Publicar de nuevo" %}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td>{% trans "Nunca has publicado nada." %}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
