{% extends "auzonetweb/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static from staticfiles %}
{% block scripts %}
<script>
</script>
{% endblock %}

{% block title %}AuzoNet - {{offer.title}}{% endblock %}
{% block content%}
{%if is_client == 1%}
<!-- Modal finalize order by client-->
<div class="modal fade" id="confirmEndClientModal" tabindex="-1" role="dialog" aria-labelledby="finalizeClientModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="finalizeClientModal">{% trans "Terminar acuerdo" %}</h4>
      </div>
      <div class="modal-body">
        {% trans "¿Estás satisfecho con el servicio/producto prestado por" %} {{offer.owner.username}}?
      </div>
      <div class="modal-footer">
        <a class="btn btn-lg btn-success" href="{%url 'finalize-order' orderid=client_order.id feedback='1'%}" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> {% trans "Si" %}</a>
        <a class="btn btn-lg btn-danger" href="{%url 'finalize-order' orderid=client_order.id feedback='0'%}" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> {% trans "No" %}</a>
      </div>
    </div>
  </div>
</div>
{%endif%}

<!-- Modal delete-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmDeleteModalTitle">{% trans "Finalizar oferta" %}</h4>
      </div>
      <div class="modal-body">
        {% trans "¿Seguro que quieres finalizar tu oferta?" %} <br>
        {% trans "Recuerda que siempre puedes ponerla de nuevo a la vista desde tu panel de usuario." %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No hacer cambios" %}</button>
        <a class="btn btn-danger" href="{%url 'delete-post' postid=offer.id posttype='O'%}" role="button">{% trans "Finalizar oferta" %}</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal hiring-->
<div class="modal fade" id="confirmHireModal" tabindex="-1" role="dialog" aria-labelledby="confirmHireModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmHireModalTitle">{% trans "¿Seguro que quieres contratar esta oferta?" %}</h4>
      </div>
      <div class="modal-body">
        {% trans "Se enviará un email a" %} <b>{{offer.owner.username}}</b> {% trans "para informar de que estás interesado en su oferta. Recibirás un aviso si" %} <b>{{offer.owner.username}}</b> {% trans "acepta a trabajar contigo." %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancelar" %}</button>
        <a class="btn btn-primary" href="{%url 'hire-offer' offerid=offer.id%}" role="button">{% trans "Contratar" %}</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-3">
            <p class="lead text-center">
                {% if  offer.owner.publicuser.avatar %}
                    {% static offer.owner.publicuser.avatar.url as avatar %}
                    <img src="{{avatar}}" height="150" width=auto class="thumbnail center-block" alt="owner_avatar" />
                {% endif %}
                {{offer.owner.first_name}} {{offer.owner.last_name}} ({{offer.owner}})
                <br>
                Karma: {{offer.owner.publicuser.karma}}
            </p>
            {%if offer.owner.id == request.user.id%}
                {% if orders.count > 0 %}
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Acuerdos" %}</div>
                    <div class="panel-body">
                        {% for o in orders %}
                        <!-- Modal finalize order by owner-->
                        <div class="modal fade" id="confirmEndOwnerModal" tabindex="-1" role="dialog" aria-labelledby="finalizeOwnerModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="finalizeOwnerModal">{% trans "Terminar acuerdo" %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% trans "¿Estás satisfecho con el trato de" %} {{o.client.username}}?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-lg btn-success" href="{%url 'finalize-order' orderid=o.id feedback='1'%}" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> {% trans "Si" %}</a>
                                        <a class="btn btn-lg btn-danger" href="{%url 'finalize-order' orderid=o.id feedback='0'%}" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> {% trans "No" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                  <img class="media-object" src="{% static o.client.publicuser.avatar.url %}" height="64" width="64" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading">{{o.client.username}}</h4>
                                <a href="mailto:{{ o.client.email }}">{{ o.client.email }}</a> <br>
                            {%if o.owner_voted %}
                                <button class="btn btn-default btn-xs btn-block" disabled>{% trans "Esperando valoración de" %} {{o.client.username}}</button>
                            {%else%}
                                <button data-target="#confirmEndOwnerModal" data-toggle="modal" class="btn btn-default btn-xs btn-block"><span class="glyphicon glyphicon-ok"></span> {% trans "Terminar acuerdo" %}</button>
                            {%endif%}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% endif %}
                <a class="btn btn-warning btn-block" href="{%url 'edit-offer' offer.id%}" role="button">Editar</a>
                <button id="btn-finish" class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmDeleteModal">{% trans "Finalizar" %}</button>
            {%else%}
                {%if is_client == 1%}
                    {%if client_order.client_voted%}
                        <button class="btn btn-default btn-block" disabled>{% trans "Esperando valoración de" %} {{client_order.owner.username}}</button>
                    {%else%}
                        <button id="btn-cancel" class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmEndClientModal">{% trans "Terminar acuerdo" %}</button>
                    {%endif%}
                {%else%}
                    <button id="btn-hire" class="btn btn-success btn-block" data-toggle="modal" data-target="#confirmHireModal">{% trans "Contratar" %}</button>
                {%endif%}
            {%endif%}

            <a class="btn btn-default btn-block" href="{%url 'index'%}" role="button">{% trans "Volver" %}</a>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right">
                        {% if offer.price == 0%}
                            {% trans "Gratis" %}
                        {% elif offer.price == None %}
                            {% trans "Gratis" %}
                        {% else %}
                            {% trans "Precio" %}: {{offer.price}} €
                        {% endif %}
                    </h4>
                    <h4><a href="#">{{offer.title}}</a>
                    </h4>
                    <p>{{offer.detail}}</p>
                </div>
                {% if offer.image%}
                    {% static offer.image.url as photo %}
                    <img src="{{photo}}" height="800" width="300" class="img-resposive" alt="offer_photo" />
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
